@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './tailwind/index.css';
@import './components/index.css';
@import './template/index.css';
@import './vendors/index.css';
@import './docs/index.css';

@media print {
    body * { visibility: hidden; }
    #print-contract,
    #print-contract * { visibility: visible; }
    #print-contract {
        position: fixed !important;
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }
}
